body {
    background-image: url('https://github.com/absvrd1ty/a/blob/main/pesok.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
}

h1 {
color: #825d14
    position: absolute;
    top: 50 px;
    left: 100 px;
}
